<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>后台管理系统登录</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="{{__HOST__}}/admin/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/font-awesome.min.css" />

		<!-- fonts -->
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace.min.css" />
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-rtl.min.css" />
		
		<style type="text/css">
			.login-layout{
				background: #428bca;
			}
			.login-layout .widget-box{
				background-color:#428bca;
			}
			.login-layout .widget-box .widget-main{
				padding:26px 16px;
			}
			.login-container{
				padding-top: 80px;
			}
			.header{
				margin-top:0px;
				padding-bottom: 12px;
			}
		</style>
	
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
						
							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											
											<h2 class="header blue lighter bigger center">
												CMS内容管理系统
												
											</h2>

											<div class="space-6"></div>

											<form action="{{__HOST__}}/admin/login/doLogin" method="post">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="username" class="form-control" placeholder="用户名" />
															<i class="icon-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" class="form-control" placeholder="密码" />
															<i class="icon-lock"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="验证吗" style="width:200px;float:left;" />
															<img style="float:right;" src="https://www.itying.com/koa/admin_express.php?m=Public&a=verify&rand=1521453067" alt="">
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace" />
															<span class="lbl"> Remember Me</span>
														</label>

														
													</div>
													<div class="clearfix">
														<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="icon-key"></i>
															登录
														</button>
														<button id="register" type="register" class="width-35 pull-left btn btn-sm btn-primary">
															<i class="icon-key"></i>
															注册
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

											
											
										</div><!-- /widget-main -->

										
									</div><!-- /widget-body -->
								</div><!-- /login-box -->
							
							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

	
</body>
</html>
