<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>控制台 - Bootstrap后台管理系统模版Ace下载</title>
		<meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文" />
		<meta name="description" content="站长素材提供Bootstrap模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="{{__HOST__}}/admin/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/font-awesome.min.css" />
		<!-- ace styles -->
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace.min.css" />
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-skins.min.css" />
        
        <link rel="stylesheet" href="{{__HOST__}}/base.css">
		
		<script src="{{__HOST__}}/admin/js/ace-extra.min.js"></script>
		<style>
			
			.form-horizontal .form-group{
				height: 44px;
			}
		</style>
	</head>